<div class = "container">
  
  <table class = "table table-striped">
  <thead>
    <tr>
      <th scope = "col">Player</th>
      <th scope = "col">Rank</th>
      <th scope = "col">Score</th>
      <th scope = "col">Time</th>
      <th scope = "col">Games Played</th>
      <th scope = "col">Status</th>
      <th scope = "col"></th>
    </tr>
  </thead>
  <tr *ngFor="let play of player"
  [class.selected]="play === selectedPlayer"
  (click)="onSelect(play)">
  <td>{{ play.Player}} </td>
 <td>{{ play.Score}}</td>
<td>{{ play.Rank}}</td>
<td>{{ play.Time}}</td>

<td> {{ play.Game_Played}} </td>

 <td> {{ play.Status}}  </td>
 <td></td>
  </tr>
</table>


<table *ngIf="selectedPlayer">
  <tr> 
    <td> Player : </td> 
    <td> {{selectedPlayer.Player}} </td>
  </tr>

  <tr> 
      <td> Rank </td> 
      <td> {{selectedPlayer.Rank}}</td>
    </tr>

  <tr> 
      <td> Score </td> 
      <td> {{selectedPlayer.Score}} </td>
    </tr>
    
     
      <tr> 
          <td> Time </td> 
          <td> {{selectedPlayer.Time}} </td>
        </tr>
  
        <tr> 
            <td> Favourite game </td> 
            <td> {{selectedPlayer.Game_Played}}</td>
          </tr>
      <tr>
        <td> Customer </td>
        <td>
            <select>
              <option> </option>
              <option> </option>
              <option> </option>
            </select>
        </td>
      </tr>
      <tr> 
          <td> <input type="submit" value="Join"> </td> 
          <td> <input type="submit" value="Cancel"> </td>
        </tr>
    
</table>

</div>