<div class = "container">
  
    <table class = "table table-striped">
      <thead>
        <tr>
          <th scope = "col"> Player </th>
          <th scope = "col"> Rank </th>
          <th scope = "col"> Score </th>
          <th scope = "col"> Time </th>
          <th scope = "col">Games Played</th>
          <th scope = "col">Status</th>
          <th scope = "col"></th>
        </tr>
      </thead>
        <tr *ngFor="let play of playerService.players" 
        >
          <td>{{ play.player_name}} </td>
          <td>{{ play.score}}</td>
          <td>{{ play.rank}}</td>
          <td>{{ play.time}}</td>
          <td> {{ play.game_Played}} </td>
          <td> {{ play.status}}  </td>
          <td *ngIf="play.status === 'available'"><input type="submit"
            (click)="onJoin(play)" [class.selected]="play === playerService" value="Join"/></td>
        </tr>
  </table>
  
  <table *ngIf="playerService">
    <tr> 
      <td> Player : </td> 
      <td> {{selectedPlayer.player_name}} </td>
    </tr>
  
    <tr> 
        <td> Rank </td> 
        <td> {{selectedPlayer.rank}}</td>
      </tr>
  
    <tr> 
        <td> Score </td> 
        <td> {{selectedPlayer.score}} </td>
    </tr>
    <tr> 
        <td> Time </td> 
        <td> {{selectedPlayer.time}} </td>
    </tr>
    <tr> 
      <td> Favourite game </td> 
      <td> {{selectedPlayer.game_Played}}</td>
    </tr>
    <tr>
      <td> Customer </td>
      <td>
        <select>
          <option> </option>
          <option> </option>
          <option> </option>
        </select>
      </td>
    </tr>
    <tr> 
      <td> <input type="submit" value="Join"> </td> 
      <td> <input type="submit" value="Cancel"> </td>
    </tr>
      
  </table>
  
  </div>
  