<div class="container">
  <div class="jumbotron">
    <h1>{{title}}</h1>
  </div>
</div>

<div>
  <nav>
<a> Navigation:</a>
 
<ul>
  <li> <a [router-link]="</li>
</ul>
<div class = "row">
    <div class="panel panel-primary">
      <div class="panel-heading">Players Ranking</div>
      <div class="panel-heading">
        <a routerLink="./adminlogin" routerLinkActive="active">
          Admin</a>
      </div>
    </div>
  </div>
</div>
</nav>
<div class="container">
  <app-player-list></app-player-list>
</div>
    
  