<div class="panel panel-primary">
  <div class = "row align-items-center">
    <div class = "col">        
      <div class="panel-heading">           
        <a routerLink = "/player-list"><h2> Players Ranking</h2></a> 
      </div>
    </div>
    <div class = "col">   
      <div class="panel-heading">
        <a routerLink = "/adminlogin"><h2> Admin</h2></a> 
      </div>
    </div>



    <div class = "col">   
        <div class="panel-heading">
          <a routerLink = "/admin-addplayer"><h2> AddPlayer</h2></a> 
        </div>
      </div>
      <div class = "col">   
          <div class="panel-heading">
            <a routerLink = "/admingamelist"><h2> Game List</h2></a> 
          </div>
        </div>

        <div class = "col">   
            <div class="panel-heading">
              <a routerLink = "/admin-playerlist"><h2> Admin Player List </h2></a> 
            </div>
          </div>
  

  </div>
</div>

