@import url('https://unpkg.com/bootstrap@3.3.7/dist/css/bootstrap.min.css');

.container{
    font-family: 'Courier New', Courier, monospace;
    text-align: center;
    padding: 10px;
    height: auto;
    width: 300px;
    
    }
 