#container{
    font-family: 'Courier New', Courier, monospace;
    text-align: center;
    padding: 10px;
    height: 100px;
    width: 300px;
    background: rebeccapurple;
    font-style: italic;
}
